# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Database files
*.sqlite3
*.db

# Virtual environments
myenv/
venv/
env/

# Django stuff:
*.log
local_settings.py

# Byte-compiled / optimized / DLL files
*.pyc
*.pyo
*.pyd

# IDE/editor files
.vscode/
*.swp
*.swo
